<!-- ACCOUNT PAGE -->

<!DOCTYPE html>
<html class="html">


<!-- METADATA -->
    <head>
        <title>Internet Cafe System</title>
        <meta charset="utf-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="static/styles/style.css">
    </head>

<!-- TITLE -->
    <header class="header">
        <caption>&nbsp;INTERNET CAFE SYSTEM<br /></caption>
    </header>


<!-- CONTENT -->
    <body class="body">
        <div class="wrapper">

            <!-- Modules -->
            <div class="box box1">
                <div class="nested">
                    <!-- This is the Current Page -->
                    <div >
                        <br />
                        <img src="/static/images/home.png" width=15 length=15 />
                        <a href="{{ url_for('home') }}">
                        Home
                        </a>
                    </div>
                    <div class="current">
                        <br />
                        <img src="/static/images/account.png" width=15 length=15 />
                        <a href="{{ url_for('account') }}">
                        Account
                        </a>
                    </div>
                    <!-- -->
                    <div>
                        <br />
                        <img src="/static/images/terminal.png" width=15 length=15 />
                        <a href="{{ url_for('terminal') }}">
                        Terminal
                        </a>
                    </div>
                    <div>
                        <br />
                        <img src="/static/images/payment.png" width=15 length=15 />
                        <a href="{{ url_for('payment') }}">
                        Payment
                        </a>
                    </div>
                    <div>
                        <br />
                        <img src="/static/images/message.png" width=15 length=15 />
                        <a href="{{ url_for('message') }}">
                        Message
                        </a>
                    </div>
                    <div>
                        <br />
                        <img src="/static/images/reports.png" width=15 length=15 />
                        <a href="{{ url_for('report') }}">
                        Reports
                        </a>
                    </div>
                    
                </div>
            </div>

            <!-- Form -->
            <div class="box box3">    

                <div class="account-submit">
                    <h1>ACCOUNT MANAGER</h1>

                </div>
            </div>

            <!-- Account Pages and Tables -->
            <div class="box box2">
                <div class="accountnested">

                    <div>
                        <br />
                        <a href="{{url_for('new_account')}}">
                        Create New Account
                        </a>
                    </div>
                    <div>
                        <br />
                        <a href="{{url_for('edit_account')}}">
                        Edit Account
                        </a>
                    </div>
                    <div>
                        <br />
                        <a href="{{url_for('disable_account')}}">
                        Disable Account
                        </a>
                    </div>
                    <div>
                        <br />
                        <a href="{{url_for('history_account')}}">
                        Account History
                        </a>
                    </div>
                    <div>
                        <br />
                        <a href="{{url_for('recharge_account')}}">
                        Account Recharge
                        </a>
                    </div>
                </div>

                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Mobile No.</th>
                        <th>E-mail</th>
                        <th>Address</th>
                        <th>Balance</th>
                    </tr>
                    {%for item in data%}
                    <tr>
                        <td>{{item[0]}}</td>
                        <td>{{item[1]}}</td>
                        <td>{{item[2]}}</td>
                        <td>{{item[3]}}</td>
                        <td>test</td>
                    </tr>
                    {%endfor%}
                </table>

            </div>
        </div>
    </body>

<!-- END -->
</html>

