<!-- PAYMENT PAGE -->

<!DOCTYPE html>
<html class="html">


<!-- METADATA -->
    <head>
        <title>Internet Cafe System</title>
        <meta charset="utf-8"
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/styles/style.css">
    </head>


<!-- TITLE -->
    <header class="header">
        <caption>&nbsp;INTERNET CAFE SYSTEM<br /></caption>
    </header>


<!-- CONTENT -->
    <body class="body">
        <div class="wrapper">

            <!-- Modules -->
            <div class="box box1">
                <div class="nested">
                    
                    <div >
                        <br />
                        <img src="/static/images/home.png" width=15 length=15 />
                        <a href="{{url_for('home')}}">
                        Home
                        </a>
                    </div>
                    <div>
                        <br />
                        <img src="/static/images/account.png" width=15 length=15 />
                        <a href="{{url_for('account')}}">
                        Account
                        </a>
                    </div>
                    <div>
                        <br />
                        <img src="/static/images/terminal.png" width=15 length=15 />
                        <a href="{{url_for('terminal')}}">
                        Terminal
                        </a>
                    </div>
                    <div>
                        <br />
                        <img src="/static/images/payment.png" width=15 length=15 />
                        <a href="{{url_for('payment')}}">
                        Payment
                        </a>
                    </div>
                    <!-- This is the Highlighted Page -->
                    <div class="current">
                        <br />
                        <img src="/static/images/message.png" width=15 length=15 />
                        <a href="{{url_for('message')}}">
                        Message
                        </a>
                    </div>
                    <!---->
                    <div>
                        <br />
                        <img src="/static/images/reports.png" width=15 length=15 />
                        <a href="{{url_for('report')}}">
                        Reports
                        </a>
                    </div>
                    
                </div>
            </div>

            <!-- Form -->
            <div class="box box3">
                <div class="message-submit">
                    <h1>MESSAGE</h1>
                    <form action="/submit" method="POST">
                        <h2>PC 2</h2>
                        <label>
                            <input class="message-recipient" type="text" name="recipient" placeholder="&nbsp;To:">
                        </label>
                        <label>
                            <textarea class="message-input" rows="20" columns="50" maxlength="700" id="freeform" name="message">Write your message here...
                            </textarea>
                        </label>
                        <label>
                            <input class="message-save" type="submit" value="Send">
                        </label>
                    </form>
                </div>
            </div>

            <!-- System Units -->
            <div class="box box2">
                <div class="system-unit">
                    <div>
                        <a href="{{url_for('message1')}}">
                            <img src="/static/images/desktop.png" width=150 length=150 />
                            </a>
                        <h1>PC 1</h1>
                    </div>
                    <!-- This is the Highlighted System Unit -->
                    <div>
                        
                        <a href="{{url_for('message2')}}">
                            <img src="/static/images/desktop.png" width=150 length=150 />
                            </a>
                        <h1>PC 2</h1>
                    </div>
                    <!-- -->
                    <div>
                        <a href="{{url_for('message3')}}">
                        <img src="/static/images/desktop.png" width=150 length=150 />
                        </a>
                        <h1>PC 3</h1>
                    </div>
                    <div>
                        <a href="{{url_for('message4')}}">
                        <img src="/static/images/desktop.png" width=150 length=150 />
                        </a>
                        <h1>PC 4</h1>
                    </div>
                    <div>
                        <a href="{{url_for('message5')}}">
                        <img src="/static/images/desktop.png" width=150 length=150 />
                        </a>
                        <h1>PC 5</h1>
                    </div>
                    <div>
                        <a href="{{url_for('message6')}}">
                        <img src="/static/images/desktop.png" width=150 length=150 />
                        </a>
                        <h1>PC 6</h1>
                    </div>
                    <div>
                        <a href="{{url_for('message7')}}">
                        <img src="/static/images/desktop.png" width=150 length=150 />
                        </a>
                        <h1>PC 7</h1>
                    </div>
                    <div>
                        <a href="{{url_for('message8')}}">
                        <img src="/static/images/desktop.png" width=150 length=150 />
                        </a>
                        <h1>PC 8</h1>
                    </div>
                    <div>
                        <a href="{{url_for('message9')}}">
                        <img src="/static/images/desktop.png" width=150 length=150 />
                        </a>
                        <h1>PC 9</h1>
                    </div>
                    <div>
                        <a href="{{url_for('message10')}}">
                        <img src="/static/images/desktop.png" width=150 length=150 />
                        </a>
                        <h1>PC 10</h1>
                    </div>
                    <div>
                        <a href="{{url_for('message11')}}">
                        <img src="/static/images/desktop.png" width=150 length=150 />
                        </a>
                        <h1>PC 11</h1>
                    </div>
                    <div>
                        <img src="/static/images/current-desktop.png" width=150 length=150 />
                        <h1>PC 12</h1>
                    </div>
            </div>
            </div>

        </div>
    </body>

<!-- END -->
</html>

