/* STYLESHEET */

/* PAGE */

.html {
    height: 800px;
    width: 1400px;
    margin: auto;
    margin-top: 60px;
}



/* HEADER */

.header {
    background-color: #222831;
    background-size: 1000px;
    font-family: 'Archivo Black', sans-serif;
    font-size: 30px;
    color: #00ADB5;
    line-height: 50px;
}



/* BODY */

.body {
    border: 1px solid #393E46;
    height: 800px;
    width: 1400px;
}



/* GRID */

.wrapper {
    display: grid;
    grid-template-columns: 1050px 350px;
    grid-template-rows: 50px 700px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 20px;
}

    .wrapper > div:nth-child(1) {
        background: #00ADB5;
    }

    .wrapper > div:nth-child(3) {
        background: #EEEEEE;
        padding: 15px;
    }

    .wrapper > div:nth-child(2) {
        background: #393E46;
        padding: 15px;
    }



.box1 {
    grid-column: 1;
    grid-row: 1;
}
    /* Modules */
    .nested {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: 50px;
        grid-gap: 10px;
    }

        .nested > div:nth-child(n) {
            text-align: center;
            font-family: 'Archivo Black', sans-serif;
            font-size: 18px;
            color: #222831;
            line-height: 15px;
        }
        
        .current {
            background-color: #FFFF8F;
        }
        /*STYLING LINKS*/
        .nested a:link {
            color: #222831;
            text-decoration: none
        }

        .nested a:visited {
            color: #222831;
            text-decoration: none;
        }

        .nested a:hover {
            color: #222831;
            text-decoration: underline;
        }

        .nested a:active {
            color: #222831;
            text-decoration: none;
        }



.box3 {
    grid-column: 2;
    grid-row: 1/4;
}
    /* Home */
    .home {
        border: #222831 1px solid;
        margin: auto;
        padding: 20px;
        width: 280px;
        height: 678px;
        font-family: 'Archivo Black', sans-serif;
        font-size: 80px;
        color: #FFFFFF;
        line-height: 70px;
    }

    .home h1{
        margin-top: 30px;
        margin-left: -15px;
        font-size: 90px;
        text-align: left;
    }

    .logout{ 
        display: block;
        margin: auto;
        margin-top: 10px;
        width: 150px;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        color: #222831;
        line-height: 20px;
     }

    /* Account */
    .account-submit {
        border: #222831 1px solid;
        margin: auto;
        padding: 10px;
        width: 300px;
        height: 697px;
        font-family: 'Archivo Black', sans-serif;
        font-size: 50px;
        color: #FFFFFF;
        line-height: 50px;
    }

    .account-submit h1{
        margin-top: 30px;
        font-size: 50px;
        text-align: center;
    }

    .account-input {
        display: block;
        margin: auto;
        margin-top: 10px;
        width: 250px;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        color: #222831;
        line-height: 20px;
    }

    .account-save {
        display: block;
        margin: auto;
        margin-top: 10px;
        margin-left: 21px;
        width: 100px;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        color: #222831;
        line-height: 20px;
    }
    
    /* Terminal */
    .terminal-submit {
        border: #222831 1px solid;
        margin: auto;
        padding: 10px;
        width: 300px;
        height: 697px;
        font-family: 'Archivo Black', sans-serif;
        font-size: 50px;
        color: #FFFFFF;
        line-height: 50px;
    }

    .terminal-submit h1{
        margin-top: 30px;
        font-size: 50px;
        text-align: center;
    }

    .terminal-submit h2{
        display: block;
        margin: auto;
        margin-right: 205px;
        margin-top: -10px;
        font-size: 30px;
        text-align: center;
    }

    .terminal-input {
        display: block;
        margin: auto;
        margin-top: 10px;
        width: 250px;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        color: #222831;
        line-height: 20px;
    }

    .terminal-actions {
        display: block;
        margin-top: 10px;
        margin-right: 500px;
        width: 200px;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        color: #222831;
        line-height: 10px;
    }

    /* Payment */
    .payment-submit {
        border: #222831 1px solid;
        margin: auto;
        padding: 10px;
        width: 300px;
        height: 697px;
        font-family: 'Archivo Black', sans-serif;
        font-size: 50px;
        color: #FFFFFF;
        line-height: 50px;
    }

    .payment-submit h1{
        margin-top: 30px;
        font-size: 50px;
        text-align: center;
    }

    .payment-submit h2{
        display: block;
        margin: auto;
        margin-top: -20px;
        margin-left: 19px;
        font-size: 30px;
        text-align: left;
    }

    .payment-input {
        display: block;
        margin: auto;
        margin-top: 10px;
        width: 250px;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        color: #222831;
        line-height: 20px;
    }

    .payment-save {
        display: block;
        margin: auto;
        margin-top: 10px;
        margin-left: 179px;
        width: 100px;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        color: #222831;
        line-height: 20px;
    }

    /* Message */
    .message-submit {
        border: #222831 1px solid;
        margin: auto;
        padding: 10px;
        width: 300px;
        height: 697px;
        font-family: 'Archivo Black', sans-serif;
        font-size: 50px;
        color: #FFFFFF;
        line-height: 50px;
    }

    .message-submit h1{
        margin-top: 30px;
        font-size: 50px;
        text-align: center;
    }

    .message-submit h2{
        display: block;
        margin: auto;
        margin-top: -20px;
        margin-left: 21px;
        font-size: 30px;
        text-align: left;
    }

    .message-recipient {
        display: block;
        margin: auto;
        margin-top: 10px;
        width: 250px;       
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        color: #222831;
        line-height: 20px;
    }

    .message-input {
        display: block;
        margin: auto;
        margin-top: 10px;
        padding: 10px;
        width: 237px;
        height: 400px;       
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        color: #222831;
        line-height: 20px;
    }

    .message-save {
        display: inside;
        margin: auto;
        margin-top: 0px;
        margin-left: 179px;
        width: 100px;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        color: #222831;
        line-height: 20px;
    }

    /* Reports */
    .reports-submit {
        border: #222831 1px solid;
        margin: auto;
        padding: 10px;
        width: 300px;
        height: 697px;
        font-family: 'Archivo Black', sans-serif;
        font-size: 50px;
        color: #FFFFFF;
        line-height: 50px;
    }

    .reports-submit h1{
        margin-top: 30px;
        font-size: 50px;
        text-align: center;
    }
    
    .reports-input {
        display: block;
        margin: auto;
        margin-top: 10px;
        width: 250px;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        color: #222831;
        line-height: 20px;
    }
    
    .reports-save {
        display: block;
        margin: auto;
        margin-top: 10px;
        margin-left: 179px;
        width: 100px;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        color: #222831;
        line-height: 20px;
    }


    
.box2 {
    grid-column: 1;
    grid-row: 2;
}
    /* Table */
    .table {
        width: 1000px;
        margin-left: 10px;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        color: #222831;
        line-height: 20px;
    }

        .table, th, td {
            border: 1px solid #EEEEEE;
            border-collapse: collapse;
        }

        th, td {
            padding: 10px;
        }

        tr:nth-child(1) {
            background-color: #00ADB5;
        }

        tr:nth-child(2n) {
            background-color: #FFFFFF;
        }

        tr:nth-child(1+2n) {
            background-color: #EEEEEE;
        }

        /* System Unit */
        .system-unit {
            display: grid;
            padding: 20px;
            grid-template-columns: repeat(4, 1fr);
            grid-auto-rows: auto;
            grid-gap: 50px;
        }
    
            .system-unit > div:nth-child(n) {
                text-align: center;
                border: #393E46 1p solid;
                font-family: 'Roboto', sans-serif;
                font-size: 18px;
                color: #222831;
                line-height: 15px;
            }

            .current {
                background-color: #FFFF8F;
            }

            .system-unit img:hover {
                filter: alpha(opacity=70);
                opacity: .7;
            }

            .system-unit h1{
                display: block;
                position: relative;   
                font-size: 20px;
                margin-top: 0px;
                margin-bottom: 0px;
                margin-left: -20px;
                margin-right: 0px;
                font-weight: bold;
            }