<!-- TERMINAL PAGE -->

<!DOCTYPE html>
<html class="html">


<!-- METADATA -->
    <head>
        <title>Internet Cafe System</title>
        <meta charset="utf-8"
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../../static/styles/style.css">
    </head>


<!-- TITLE -->
    <header class="header">
        <caption>&nbsp;INTERNET CAFE SYSTEM<br /></caption>
    </header>


<!-- CONTENT -->
    <body class="body">
        <div class="wrapper">

            <!-- Modules -->
            <div class="box box1">
                <div class="nested">
                    
                    <div >
                        <br />
                        <img src="../../static/images/home.png" width=15 length=15 />
                        <a href="file:///C:/Users/ryanp/Documents/GitHub/Internet_Cafe_System/templates/Home/home.html">
                        Home
                        </a>
                    </div>
                    <div>
                        <br />
                        <img src="../../static/images/account.png" width=15 length=15 />
                        <a href="file:///C:/Users/ryanp/Documents/GitHub/Internet_Cafe_System/templates/Account/account.html">
                        Account
                        </a>
                    </div>
                    <!-- This is the Highlighted Page -->
                    <div class="current">
                        <br />
                        <img src="../../static/images/terminal.png" width=15 length=15 />
                        <a href="file:///C:/Users/ryanp/Documents/GitHub/Internet_Cafe_System/templates/Terminal/terminal.html">
                        Terminal
                        </a>
                    </div>
                    <!---->
                    <div>
                        <br />
                        <img src="../../static/images/payment.png" width=15 length=15 />
                        <a href="file:///C:/Users/ryanp/Documents/GitHub/Internet_Cafe_System/templates/Payment/payment.html">
                        Payment
                        </a>
                    </div>
                    <div>
                        <br />
                        <img src="../../static/images/message.png" width=15 length=15 />
                        <a href="file:///C:/Users/ryanp/Documents/GitHub/Internet_Cafe_System/templates/Message/message.html">
                        Message
                        </a>
                    </div>
                    <div>
                        <br />
                        <img src="../../static/images/reports.png" width=15 length=15 />
                        <a href="file:///C:/Users/ryanp/Documents/GitHub/Internet_Cafe_System/templates/Reports/reports.html">
                        Reports
                        </a>
                    </div>
                    
                </div>
            </div>

            <!-- Form -->
            <div class="box box3">
                <div class="terminal-submit">
                    <h1>TERMINAL</h1>
                    <h2>PC 12</h2>

                    <form action="/submit" method="POST">
                        
                        <label>
                            <input class="terminal-input" type="text" name="contact" placeholder="&nbsp;Contact ID:">
                        </label>
                        <label>
                            <input class="terminal-input" type="text" name="user" placeholder="&nbsp;User ID:">
                        </label>
                        <label>
                            <input class="terminal-input" type="text" name="name" placeholder="&nbsp;Name:">
                        </label>
                        <label>
                            <input class="terminal-input" type="text" name="mobile" placeholder="&nbsp;Mobile No.:">
                        </label>
                        <label>
                            <input class="terminal-input" type="text" name="e-mail" placeholder="&nbsp;E-mail:">
                        </label>
                        <label>
                            <input class="terminal-input" type="text" name="address" placeholder="&nbsp;Address:">
                        </label>
                        <label>
                            <input class="terminal-input" type="text" name="balance" placeholder="&nbsp;Balance:">
                        </label>  

                        <br />
                        <h2>&nbsp;ACTIONS</h2>
                        </label>
                            <input class="terminal-actions" type="submit" value="Start User Session">
                        </label>
                        </label>
                            <input class="terminal-actions" type="submit" value="End User Session">
                        </label>
                        </label>
                            <input class="terminal-actions" type="submit" value="Sign Out">
                        </label>
                        </label>
                            <input class="terminal-actions" type="submit" value="Restart">
                        </label>
                        </label>
                            <input class="terminal-actions" type="submit" value="Shut Down">
                        </label>

                    </form>

                </div>
            </div>

            <!-- System Units -->
            <div class="box box2">
                <div class="system-unit">
                    
                    <div>
                        <a href="file:///C:/Users/ryanp/Documents/GitHub/Internet_Cafe_System/templates/Terminal/terminal-pc1.html">
                        <img src="../../static/images/desktop.png" width=150 length=150 />
                        </a>
                        <h1>PC 1</h1>
                    </div>
                    <div>
                        <a href="file:///C:/Users/ryanp/Documents/GitHub/Internet_Cafe_System/templates/Terminal/terminal-pc2.html">
                        <img src="../../static/images/desktop.png" width=150 length=150 />
                        </a>
                        <h1>PC 2</h1>
                    </div>
                    <div>
                        <a href="file:///C:/Users/ryanp/Documents/GitHub/Internet_Cafe_System/templates/Terminal/terminal-pc3.html">
                        <img src="../../static/images/desktop.png" width=150 length=150 />
                        </a>
                        <h1>PC 3</h1>
                    </div>
                    <div>
                        <a href="file:///C:/Users/ryanp/Documents/GitHub/Internet_Cafe_System/templates/Terminal/terminal-pc4.html">
                        <img src="../../static/images/desktop.png" width=150 length=150 />
                        </a>
                        <h1>PC 4</h1>
                    </div>
                    <div>
                        <a href="file:///C:/Users/ryanp/Documents/GitHub/Internet_Cafe_System/templates/Terminal/terminal-pc5.html">
                        <img src="../../static/images/desktop.png" width=150 length=150 />
                        </a>
                        <h1>PC 5</h1>
                    </div>
                    <div>
                        <a href="file:///C:/Users/ryanp/Documents/GitHub/Internet_Cafe_System/templates/Terminal/terminal-pc6.html">
                        <img src="../../static/images/desktop.png" width=150 length=150 />
                        </a>
                        <h1>PC 6</h1>
                    </div>
                    <div>
                        <a href="file:///C:/Users/ryanp/Documents/GitHub/Internet_Cafe_System/templates/Terminal/terminal-pc7.html">
                        <img src="../../static/images/desktop.png" width=150 length=150 />
                        </a>
                        <h1>PC 7</h1>
                    </div>
                    <div>
                        <a href="file:///C:/Users/ryanp/Documents/GitHub/Internet_Cafe_System/templates/Terminal/terminal-pc8.html">
                        <img src="../../static/images/desktop.png" width=150 length=150 />
                        </a>
                        <h1>PC 8</h1>
                    </div>
                    <div>
                        <a href="file:///C:/Users/ryanp/Documents/GitHub/Internet_Cafe_System/templates/Terminal/terminal-pc9.html">
                        <img src="../../static/images/desktop.png" width=150 length=150 />
                        </a>
                        <h1>PC 9</h1>
                    </div>
                    <div>
                        <a href="file:///C:/Users/ryanp/Documents/GitHub/Internet_Cafe_System/templates/Terminal/terminal-pc10.html">
                        <img src="../../static/images/desktop.png" width=150 length=150 />
                        </a>
                        <h1>PC 10</h1>
                    </div>
                    <div>
                        <a href="file:///C:/Users/ryanp/Documents/GitHub/Internet_Cafe_System/templates/Terminal/terminal-pc11.html">
                        <img src="../../static/images/desktop.png" width=150 length=150 />
                        </a>
                        <h1>PC 11</h1>
                    </div>
                    <!-- This is the Highlighted System Unit -->
                    <div>
                        <img src="../../static/images/current-desktop.png" width=150 length=150 />
                        <h1>PC 12</h1>
                    </div>
                    <!-- -->

                </div>

            </div>
        </div>
    </body>

<!-- END -->
</html>

