<!-- PAYMENT PAGE -->

<!DOCTYPE html>
<html class="html">


<!-- METADATA -->
    <head>
        <title>Internet Cafe System</title>
        <meta charset="utf-8"
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/styles/style.css">
    </head>


<!-- TITLE -->
    <header class="header">
        <caption>&nbsp;INTERNET CAFE SYSTEM<br /></caption>
    </header>


<!-- CONTENT -->
    <body class="body">
        <div class="wrapper">

            <!-- Modules -->
            <div class="box box1">
                <div class="nested">
                    
                    <div >
                        <br />
                        <img src="/static/images/home.png" width=15 length=15 />
                        <a href="{{ url_for('home') }}">
                        Home
                        </a>
                    </div>
                    <div >
                        <br />
                        <img src="/static/images/account.png" width=15 length=15 />
                        <a href="{{ url_for('account') }}">
                        Account
                        </a>
                    </div>
                    <div>
                        <br />
                        <img src="/static/images/terminal.png" width=15 length=15 />
                        <a href="{{ url_for('terminal') }}">
                        Terminal
                        </a>
                    </div>
                    <div class="current">
                        <br />
                        <img src="/static/images/payment.png" width=15 length=15 />
                        <a href="{{ url_for('payment') }}">
                        Payment
                        </a>
                    </div>
                    <div>
                        <br />
                        <img src="/static/images/message.png" width=15 length=15 />
                        <a href="{{ url_for('message') }}">
                        Message
                        </a>
                    </div>
                    <div >
                        <br />
                        <img src="/static/images/reports.png" width=15 length=15 />
                        <a href="{{ url_for('report') }}">
                        Reports
                        </a>
                    </div>
                    
                </div>
            </div>

            <!-- Form -->
            <div class="box box3">
                <div class="payment-submit">
                    <h1>PAYMENT</h1>
                    <form action="/submit" method="POST">
                        <h2>PC 5</h2>
                        <label>
                            <input class="terminal-input" type="text" name="account" placeholder="&nbsp;Account:">
                        </label>
                        <label>
                            <input class="terminal-input" type="text" name="balance" placeholder="&nbsp;Bill ID:">
                        </label>
                        <label>
                            <input class="terminal-input" type="text" name="balance" placeholder="&nbsp;Balance:">
                        </label>
                        <label>
                            <input class="terminal-input" type="text" name="time-in" placeholder="&nbsp;Time IN:">
                        </label>
                        <label>
                            <input class="terminal-input" type="text" name="time-out" placeholder="&nbsp;Time OUT:">
                        </label>
                        <label>
                            <input class="terminal-input" type="text" name="duration" placeholder="&nbsp;Duration:">
                        </label>
                        <label>
                            <input class="terminal-input" type="text" name="total" placeholder="&nbsp;Rate:">
                        </label>
                        </label>
                            <input class="terminal-input" type="text" name="total" placeholder="&nbsp;Total:">
                        </label>
                        <label>
                            <input class="payment-save" type="submit" value="Save File">
                        </label>
                    </form>
                </div>
            </div>

            <!-- System Units -->
            <div class="box box2">
                <div class="system-unit">
                    <div>
                        <a href="{{url_for('payment1')}}">
                            <img src="/static/images/desktop.png" width=150 length=150 />
                            </a>
                        <h1>PC 1</h1>
                    </div>
                    <!-- This is the Highlighted System Unit -->
                    <div>
                        
                        <a href="{{url_for('payment2')}}">
                            <img src="/static/images/desktop.png" width=150 length=150 />
                            </a>
                        <h1>PC 2</h1>
                    </div>
                    <!-- -->
                    <div>
                        <a href="{{url_for('payment3')}}">
                        <img src="/static/images/desktop.png" width=150 length=150 />
                        </a>
                        <h1>PC 3</h1>
                    </div>
                    <div>
                        <a href="{{url_for('payment4')}}">
                        <img src="/static/images/desktop.png" width=150 length=150 />
                        </a>
                        <h1>PC 4</h1>
                    </div>
                    <div>
                        
                        <img src="/static/images/current-desktop.png" width=150 length=150 />
                        <h1>PC 5</h1>
                    </div>
                    <div>
                        <a href="{{url_for('payment6')}}">
                        <img src="/static/images/desktop.png" width=150 length=150 />
                        </a>
                        <h1>PC 6</h1>
                    </div>
                    <div>
                        <a href="{{url_for('payment7')}}">
                        <img src="/static/images/desktop.png" width=150 length=150 />
                        </a>
                        <h1>PC 7</h1>
                    </div>
                    <div>
                        <a href="{{url_for('payment8')}}">
                        <img src="/static/images/desktop.png" width=150 length=150 />
                        </a>
                        <h1>PC 8</h1>
                    </div>
                    <div>
                        <a href="{{url_for('payment9')}}">
                        <img src="/static/images/desktop.png" width=150 length=150 />
                        </a>
                        <h1>PC 9</h1>
                    </div>
                    <div>
                        <a href="{{url_for('payment10')}}">
                        <img src="/static/images/desktop.png" width=150 length=150 />
                        </a>
                        <h1>PC 10</h1>
                    </div>
                    <div>
                        <a href="{{url_for('payment11')}}">
                        <img src="/static/images/desktop.png" width=150 length=150 />
                        </a>
                        <h1>PC 11</h1>
                    </div>
                    <div>
                        <a href="{{url_for('payment12')}}">
                        <img src="/static/images/desktop.png" width=150 length=150 />
                        </a>
                        <h1>PC 12</h1>
                    </div>
            </div>

        </div>
    </body>

<!-- END -->
</html>

